<div class="top1">
    <div>
        <h1 class="page-header text-primary">常用方法</h1>
    </div>
    <div class="col-md-1 pull-right">
        <button class="btn btn-info" ng-click="addFunc()"><span class="glyphicon glyphicon-plus"></span>添加</button>
    </div>
    <div class="col-md-12 top3" ng-show="funcList.length!=0">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-repeat="func in pageList">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title"  ng-mouseenter="shownCom=true" ng-mouseleave="shownCom=false" >
                                 <div class="row">
                                     <div class="col-xs-4">
                                     <input type="text" class="form-control" ng-show="edit && editFuncId==func.func_id" ng-model="func.func_desc">
                                     <a class="marginLeft" ng-bind="func.func_desc" ng-show="!(edit && editFuncId==func.func_id)" ng-click="funcDetail(func.func_id,$index)"></a>
                                     </div>
                                     <div class="pull-right">
                                         <a ng-show="shownCom" ng-click="editFunc(func.func_id,$index)"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
                                         <a ng-show="shownCom" ng-click="cfDelFunc(func.func_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                     </div>
                                </div>
                            </h4>
                        </div>
                        <div class="panel-body" ng-show="showfunc[$index]&&(funcId==func.func_id || func.func_id==null)">
                            <div class="row">
                                <div class="col-md-10">
                                    <ul class="nav nav-tabs">
                                        <li class="{$activeList1[0]$}" >
                                            <a ng-click="active3(0)">基本信息</a>
                                        </li>
                                        <li class="{$activeList1[1]$}" >
                                            <a ng-click="active3(1)">代码</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-right">
                                    <button class="btn btn-default" ng-click="saveFunc(func)">保存</button>
                                    <button class="btn btn-default" ng-click="runFunc(func)"><span class="glyphicon glyphicon-play"></span>运行</button>
                                        </div>
                                </div>
                            </div>
                            <div class="top3">
                                <table class="table" ng-show="formation && !edit">
                                    <thead>
                                        <tr>
                                            <td class="wid6">函数名</td>
                                            <td class="wid7" ng-bind="func.func_name"></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="wid6">描述</td>
                                            <td class="wid7" ng-bind="func.func_desc"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="formation && edit">
                                    <form class="col-md-10 bs-example bs-example-form">
                                        <div class="input-group">
                                            <span class="input-group-addon">名字</span>
                                            <input type="text" class="form-control" ng-model="func.func_name">
                                        </div>
                                    </form>
                                    <form class="col-md-10 bs-example bs-example-form">
                                        <div class="input-group">
                                            <span class="input-group-addon">描述</span>
                                            <input type="text" class="form-control" ng-model="func.func_desc">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div ng-show="code">
                                <textarea class="form-control msd-elastic: \n;" rows="10" ng-model="func.func_code">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right" ng-show="totalItems>10">
                    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"
                                class="pagination" previous-text="上一页" next-text="下一页" first-text="&laquo;" last-text="&raquo;">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addFunc" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        添加常用方法
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">常用方法名：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="请输入常用方法名称" ng-model="func.func_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">描述：</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="请输入常用方法描述" ng-model="func.func_desc">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="moreFuncDetail(func)">确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="runFunc" aria-hidden="true">
        <div class="modal-dialog modalWidth2">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        代码运行结果
                    </h4>
                </div>
                <div class="modal-body" >
                    <pre ng-bind="runResult.output"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cfDelFunc" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-danger">
                    <h4 class="modal-title">
                        删除常用方法
                    </h4>
                </div>
                <div class="modal-body">
                    确定删除该方法？？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="delFunc()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
