<div class="top1">
    <div>
        <h1 class="page-header text-primary">录制</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="dfRecord()">录制</button>
                    <button class="btn btn-danger" ng-click="stopRecord()">停止录制</button>
                    <button class="btn btn-primary" ng-click="setRecord()">生成接口列表</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <div ng-show="showiframe">
                    <iframe src={$servers_url$} width="100%" marginwidth="0" height="100%"
                            marginheight="0" scrolling="Yes" frameborder="0" vspace="0" id="Iframe1" border="0"
                            framespacing="0" noresize="noResize">
                    </iframe>
                </div>
                <div ng-show="showtable" class="col-md-12">
                    <table class="table table-bordered design ">
                        <tr>
                            <th class="tableWid1">序号</th>
                            <th class="tableWid1">方法</th>
                            <th class="tableWid1">协议</th>
                            <th class="tableWid5">host</th>
                            <th class="tableWid3">path</th>
                            <th class="tableWid4">请求体</th>
                            <th class="tableWid4">返回</th>
                            <th class="tableWid5">操作</th>
                        </tr>
                        <tr ng-repeat="rcdCase in pageList" ng-style="styleList[$index]"
                            ng-mouseenter="tableGray($index)" ng-mouseleave="tableWhite($index)">
                            <td class="tableWid1" ng-bind="(currentPage-1)*10+$index+1"></td>
                            <td class="tableWid1" ng-bind="rcdCase.method" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.method$}"></td>
                            <td class="tableWid1" ng-bind="rcdCase.protocol" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.protocol$}"></td>
                            <td class="tableWid5" ng-bind="rcdCase.host" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.host$}"></td>
                            <td class="tableWid3" ng-bind="rcdCase.path" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.path$}"></td>
                            <td class="tableWid4" ng-bind="rcdCase.reqBody" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.reqBody$}"></td>
                            <td class="tableWid4" ng-bind="rcdCase.resBody" data-toggle="tooltip" data-placement="top"
                                title="{$rcdCase.resBody$}"></td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-disabled="undisabled[$index]"
                                        ng-click="cfRecord($index)">删除
                                </button>
                                <button class="btn btn-xs btn-primary" ng-click="editRecord($index)">编辑</button>
                                <button class="btn btn-xs btn-info" ng-disabled="runDisabled[$index]"
                                        ng-click="runRecord(rcdCase)">运行
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="pull-right" ng-show="totalItems>15">
                        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage"
                                    ng-change="pageChanged()" items-per-page="15"
                                    class="pagination" previous-text="上一页" next-text="下一页"
                                    first-text="&laquo;" last-text="&raquo;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="recordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    录制信息
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">host地址：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="record_info.host">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">端口号：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="record_info.port">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">过滤字段：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model="record_info.filter">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="startRecord()">
                    开始录制
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editRecord" aria-hidden="true">
    <div class="modal-dialog modalWidth">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    编辑录制用例
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label">用例名：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入用例名称" ng-model="rcdCase.case_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">所属API：</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="selected1"
                                    ng-options="api.api_id as api.api_name for api in apiList">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">所属套件：</label>
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="checkbox col-md-6" ng-repeat="st in suiteList">
                                        <label>
                                            <input type="checkbox" ng-model="check[$index]"
                                                   ng-click="addSuiteList($index,st.suite_id)"><span
                                                ng-bind="st.suite_name"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">描述：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入用例描述" ng-model="rcdCase.case_desc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">依赖接口：</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="selected2"
                                    ng-options="apiDep.depnd_api_id as apiDep.depnd_api_name for apiDep in apiDepList">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">校验器：</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="selected4"
                                    ng-options="check1.check_id as check1.check_desc for check1 in checkList">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-md-3 control-label">所属模块：</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="selected3"
                                    ng-options="module.module_id as module.module_name for module in moduleList">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-md-2 control-label">接口协议：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入用例协议"
                                   ng-model="rcdCase.case_protocol">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">URL：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入URL" ng-model="rcdCase.case_url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">请求方法：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入请求方法"
                                   ng-model="rcdCase.case_method">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">格式：</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="rcdCase.param_type"
                                    ng-options="type for type in typeType">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label class="col-md-3 control-label">期望响应头：</label>
                        <div class="col-md-8">
                            <textarea type="text" class="form-control" placeholder="请输入期望响应头" ng-model="rcdCase.exp_header">
                            </textarea>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">接口参数：</label>
                        <div class="col-md-9">
                            <textarea type="text" class="form-control" placeholder="请输入接口参数"
                                      ng-model="rcdCase.input_data">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">期望响应：</label>
                        <div class="col-md-9">
                            <textarea type="text" rows="3" class="form-control" placeholder="请输入期望响应"
                                      ng-model="rcdCase.exp_data">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">期望状态码：</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="请输入期望状态码"
                                   ng-model="rcdCase.exp_status">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">schema：</label>
                        <div class="col-md-9">
                            <textarea type="text" rows="3" class="form-control" placeholder="请输入schema"
                                      ng-model="rcdCase.case_schema">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="saveEditRecord(selected1,selected2,selected4)">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cfRecord">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title">
                    删除录制结果
                </h4>
            </div>
            <div class="modal-body">
                确定删除该录制结果？？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" ng-click="delRecord()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="runRecord" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    运行
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">所属环境：</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="env"
                                    ng-options="env.env_name for env in envList">
                                <option value="">无</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" ng-click="getRecordResult(rcdCase.case_id,env.env_id)">
                    执行
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="recordResult" aria-hidden="true">
    <div class="modal-dialog modalWidth">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    运行
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-1 control-label">请求体：</label>
                        <div class="col-md-11">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">URL：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" ng-model="rcdResult.url"
                                                   style="background-color: white" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">请求：</label>
                                        <div class="col-md-11">
                                <textarea type="text" class="form-control" rows="3" ng-model="rcdResult.request_body"
                                          style="background-color: white" readonly>
                                </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">状态码：</label>
                        <div class="col-md-11">
                            <div class="panel {$rcdResult.status_check == 1 ? 'panel-default' : 'panel-danger'$}">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">期望：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" ng-model="rcdResult.exp_status"
                                                   style="background-color: white" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">实际：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" ng-model="rcdResult.status"
                                                   style="background-color: white" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">校验：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control"
                                                   ng-model="rcdResult.status_check_text"
                                                   style="background-color: white" readonly>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label class="col-md-2 control-label">期望响应头：</label>
                            <div class="col-md-9">
                                <textarea type="text" class="form-control" rows="3" ng-model="caseResult.exp_header"
                                          style="background-color: white" readonly>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">响应头：</label>
                            <div class="col-md-9">
                                <textarea type="text" class="form-control" rows="3" ng-model="caseResult.header"
                                          style="background-color: white" readonly>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">响应头检验：</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" ng-model="caseResult.header_check_text"
                                       style="background-color: white" readonly>
                            </div>
                        </div>
                        -->
                        <label class="col-md-1 control-label">响应：</label>
                        <div class="col-md-11">
                            <div class="panel {$rcdResult.body_check == 1 ? 'panel-default' : 'panel-danger'$}">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">期望：</label>
                                        <div class="col-md-11">
                                <textarea type="text" class="form-control" rows="3" ng-model="rcdResult.exp_data"
                                          style="background-color: white" readonly>
                                </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">实际：</label>
                                        <div class="col-md-11">
                                <textarea type="text" class="form-control" rows="3" ng-model="rcdResult.response_body"
                                          style="background-color: white" readonly>
                                </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">校验：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control"
                                                   ng-model="rcdResult.body_check_text"
                                                   style="background-color: white" readonly>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">schema：</label>
                        <div class="col-md-11">
                            <div class="panel {$rcdResult.schema_check == 1 ? 'panel-default' : 'panel-danger'$}">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">schema：</label>
                                        <div class="col-md-11">
                                <textarea type="text" class="form-control" rows="3" ng-model="rcdResult.schema"
                                          style="background-color: white" readonly>
                                </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">检验：</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control"
                                                   ng-model="rcdResult.schema_check_text"
                                                   style="background-color: white" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-hide="rcdResult.schema_check ==1">
                                        <label class="col-md-1 control-label">信息：</label>
                                        <div class="col-md-11">
                                <textarea type="text" class="form-control" rows="1" ng-model="rcdResult.schema_msg"
                                          style="background-color: white" readonly>
                                </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>
</div>